.navBar{
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    gap: 2vh;
    justify-content: center;
    background-color: var(--branco);
    color: var(--preto);
}